.App {
  text-align: center;
  max-width: 100%;
  overflow-x: none;
}

* {
  font-family: "Montserrat", sans-serif !important;
}

.appointment::-webkit-scrollbar {
  width: 0;
}

.scrollbar::-webkit-scrollbar{
  height: 0;
}

/* .myNav {
  background: linear-gradient(rgb(0, 0, 0, 1), rgba(0, 0, 0, 0.5));
} */

.headerSection {
  background: linear-gradient(rgb(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)),
    url(./images/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.headerDiv {
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.headerDiv h1 {
  font-size: 4rem;
}

.headerDiv p {
  font-size: 1.7rem;
}


#descriptionSection h1 {
  font-size: 2.9rem;
  padding: 2% 0;
  text-decoration: underline;
}

#bannerSection,
.signinDiv {
  background: linear-gradient(rgb(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)),
    url(./images/1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 81vh;
}

.bannerDiv {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 20px;
}

.bannerDiv h1 {
  font-size: 3.15rem;
  padding: 5px 0 10px 0;
  font-weight: bold;
  color: white;
}

.bannerDiv p {
  font-size: 1.3rem;
  color: white;
}

#aboutDiv {
  background-color: black;
}

#aboutDiv h1,
h2,
h3 {
  color: white;
}

.signinDiv {
  background: linear-gradient(rgb(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)),
    url(./images/3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  display: flex;
  flex-direction: column;
}

.signupDiv {
  background: linear-gradient(rgb(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)),
    url(./images/2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  display: flex;
  flex-direction: column;
}

.contactUs {
  background: linear-gradient(rgb(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)),
    url(./images/2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  display: flex;
  flex-direction: column;
}
@keyframes bounce {
  0% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
  100% { transform: translateY(0); }
}

.bounce-image {
  animation: bounce 1s infinite;
}


/* Custom CSS for the border animation */
.group:hover .group-hover\\:scale-x-100 {
  transform: scaleX(1);

}

.group-hover\\:scale-x-100 {
  transform: scaleX(0);
}